/* Base Styles */

html {
  font-size: 18px;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: white;
  text-decoration: none;
}

h1,
h3 {
  font-weight: bold;
  line-height: 1.2;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/* Header */

header {
  width: 100%;
  height: 30rem;
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 1rem;
}

.logo,
.menu,
footer {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  margin: 0 1rem 0 2rem;
}

nav {
  background-color: cadetblue;
  font-size: 1rem;
  color: white;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

nav ul:last-child {
  display: none;
}

nav li {
  display: inline-block;
  padding-right: 2rem;
}

.banner {
  background-color: white;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
}

header .flex {
  justify-content: flex-end;
}

/* Services Section */

.sub-section {
  display: flex;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
  height: 8rem;
  margin: 3rem;
  text-align: center;
}

.item img {
  width: 5rem;
}

.sub-section .item:first-child img {
  width: 3.5rem;
}

/* Info Section */

.info {
  width: 35%;
  margin-bottom: 5rem;
}

.info:first-child {
  margin-right: 5%;
}

.info h3 {
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  color: white;
  margin-bottom: 1rem;
  width: 10rem;
}

/* Footer */

footer {
  background-color: azure;
  padding: 4rem;
}

footer img {
  height: 1.5rem;
  margin: 0 1rem 0 2rem;
}

/* Media Queries */

@media only screen and (max-width: 1040px) {
  .container {
    max-width: 100%;
  }

  header {
    padding-top: 0;
  }
}

@media only screen and (max-width: 900px) {
  header {
    height: 22rem;
  }

  .banner {
    margin-top: 5rem;
    margin-right: 2rem;
    padding: 0.75rem 4rem;
  }

  h1 {
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 680px) {
  header {
    height: 17rem;
    background-position: 20%;
  }

  .menu ul:first-child {
    display: none;
  }

  .menu ul:last-child {
    display: block;
  }

  .banner {
    width: 100%;
    margin-top: 9rem;
    margin-right: 0;
    text-align: center;
    padding: 1rem 0;
  }

  h1 {
    font-size: 1rem;
  }

  .sub-section {
    flex-direction: column;
    align-items: center;
    margin-top: 3.77rem;
  }

  .item {
    margin: 0 0 1.54rem 0;
    height: auto;
  }

  .item:last-child {
    margin: 0;
  }

  .item span {
    font-size: 0.77rem;
    margin-top: 1rem;
  }

  .info {
    width: 100%;
    margin-bottom: 4rem;
  }

  .info:first-child {
    margin-right: 0;
  }

  .info h3 {
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
  }

  p {
    font-size: 0.77rem;
    padding: 0 1rem;
  }

  footer {
    justify-content: center;
  }

  footer span {
    display: none;
  }

  footer img {
    margin: 0;
  }
}
